/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 680px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
}

.add-restaurant {
  height: 100%;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 20%;
  right: 20%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

#latlng {
  width: 225px;
}
