{% extends 'restaurants/add_restaurant_base.html' %}
{% load static %}
{% load rest_framework %}
{% load material_form %}
{% block content %}
  {{ block.super }}
  <p>Reverse geocode restaurant location and fill in the form below to add
    it to the app.</p>
  <div class="add-restaurant">
    <div id="floating-panel">
      <input id="latlng" type="text" value="40.714224,-73.961452">
      <input id="submit" type="button" value="Reverse Geocode">
    </div>
    <div id="map"></div>

    <form action="{% url 'restaurant-add-geo-rev' %}" method="post">
      {% csrf_token %}
      {% render_form serializer %}
      <input class="waves-effect waves-light btn" type="submit"
             value="Submit" />
    </form>
  </div>
{% endblock content %}
