{% extends 'restaurants/add_restaurant_base.html' %}
{% load static %}
{% load rest_framework %}
{% load material_form %}
{% block content %}
  {{ block.super }}
  <p>Geocode restaurant location and fill in the form below to add it to the
  app.</p>
  <div class="add-restaurant">
    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Geocode">
    </div>
  </div>
  {% block add_restaurant_form %}
    {{ block.super }}
  {% endblock %}
{% endblock content %}
