{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}
{% load rest_framework %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% load material_form %}
{% block content %}
  {% block review_form %}
    <p>Write a new review:</p>
    <form action="{% url 'review-add' pk=restaurant %}" method="post">
      {% csrf_token %}
      {% render_form serializer %}
      <input class="waves-effect waves-light btn" type="submit"
             value="Submit" />
    </form>
  {% endblock %}
{% endblock content %}
