{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Add Restaurant' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/google_services/geocoding.css' %}"
        rel="stylesheet">
{% endblock %}

{% block content %}
  <h4>Add a new Restaurant</h4>
  <div id="map"></div>
{% endblock %}

{% block add_restaurant_form %}
  <div class="row">
      <form class="col s12" method="post" action="{% url 'restaurant-create-list' %}"
            id="add-restaurant">
        {% csrf_token %}
        <div class="input-field col s12">
          <input placeholder="Sagar Ratna" id="id_name" type="text"
                 class="validate" required>
          <label for="id_name">Name</label>
        </div>
        <div class="input-field col s12">
          <input id="id_lat" type="number" step="any"
                 class="validate">
          <label for="id_lat">Latitude</label>
        </div>
        <div class="input-field col s12">
          <input id="id_lon" type="number" step="any"
                 class="validate">
          <label for="id_lon">Longitude</label>
        </div>
        <div class="input-field col s12">
          <textarea id="id_description"
                    placeholder="Really good restaurant in South Delhi"
                    class="materialize-textarea"></textarea>
          <label for="id_description">Description</label>
        </div>
        <div class="input-field col s12">
          <textarea id="id_address"
                    placeholder="South Delhi"
                    class="materialize-textarea"></textarea>
          <label for="id_address">Address</label>
        </div>
        <div class="input-field col s12">
          <input id="id_website" type="text"
                 class="validate">
          <label for="id_website">Website</label>
        </div>
        <div class="input-field col s12">
          <input id="id_contact" type="number" maxlength="10"
                 class="validate">
          <label for="id_contact">Contact No</label>
        </div>
        <input class="waves-effect waves-light btn" type="submit"
           value="Submit" />
        <div id="submit-result"></div>
      </form>
    </div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/google_services/' %}{{ js_file_name }}"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_SERVICES_API_KEY }}&callback=initMap">
  </script>
{% endblock %}
