{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}
{% load rest_framework %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% load material_form %}
{% block content %}
  {% block review_form %}
    <p>Write a new review:</p>
    <form id="add-review">
      {% csrf_token %}
      <div class="input-field col s12">
        <textarea id="id_review_text"
                  placeholder="This is awesome restaurant!"
                  class="materialize-textarea" required></textarea>
        <input type="hidden" id="restaurant_id" name="restaurant_id" value="{{ pk }}">
        <input type="hidden" id="user_id" name="user_id" value="{{ request.user.profile.id }}">
        <label for="id_review_text">Review</label>
      </div>
      <input class="waves-effect waves-light btn" type="submit"
             value="Submit" />
      <div id="submit-result"></div>
    </form>
  {% endblock %}
{% endblock content %}
