{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% block content %}
{% load material_form %}
{% block comment_form %}
  <p>Write a new comment:</p>
  <form action="{% url 'comment-add' pk=review %}" method="post">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <input class="waves-effect waves-light btn" type="submit" value="Submit" />
  </form>
{% endblock %}
{% endblock content %}
