{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}
{% load rest_framework %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% block content %}
  <p>
    {% trans 'Welcome to Fuel Dine restaurants page' %}
    {% if request.user.is_authenticated %}
      <b>{{ request.user }}</b>
    {% endif %}
  </p>
  <p>You can add a new restaurant by <a href="{% url 'restaurant-add-geo' %}">geocoding</a> or
    <a href="{% url 'restaurant-add-geo-rev' %}">reverse geocoding</a> to the app.</p>
  {% if not results %}
    <p>There are no restaurants to display.</p>
  {% endif %}

  {% for restaurant in results %}
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{restaurant.name}}</span>
              <p>Votes: {{ restaurant.vote_score }}</p>
              <p>Contact: {{ restaurant.contact|default_if_none:"&nbsp;" }}</p>
              <p>Website: {{ restaurant.website|default_if_none:"&nbsp;" }}</p>
              <p>Description: {{ restaurant.description|default_if_none:"&nbsp;" }}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'restaurant-detail' pk=restaurant.id %}">See details for this restaurant</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}
