{% extends 'pages/base.html' %}
{% load i18n %}
{% load rest_framework %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% block content %}
  <p>
    {% trans 'Welcome to Fuel Dine restaurants page' %}
  {{ request.user }}
  </p>
  <p>
    <b>Name</b>: {{ restaurant.name }}<br>
    Votes: {{ restaurant.vote_score }}<br>
    Contact: {{ restaurant.contact }}<br>
    Website: {{ restaurant.website }}<br>
    Description {{ restaurant.description }}<br>
  </p>
  <p>Write a <a href="{% url 'review-add' pk=restaurant.id  %}">new
    review</a> for this restaurant now!</p>

  Reviews:
  {% if not restaurant.review_set.exists %}
    <p>Oh! There are no reviews to show right now!</p>
  {% endif %}
  <p>
    {% for review in restaurant.review_set.all %}
      Review
      {% ifequal review.user|slugify request.user|slugify %}
        * {# Special symbol if it's your own review #}
      {% endifequal %}
      : {{ review.text }}<br>
      Posted By: {{ review.user }}<br>
      Posted on: {{ review.posted_at }}<br>
      <a href="{% url 'comment-add' pk=review.id %}">Comment on this review</a>
      <br>
      Comments:
      {% for comment in review.comment_set.all %}
        Text: {{ comment.text }}<br>
        Commented by: {{ comment.user }}<br>
        Posted at: {{ comment.posted_at }}<br>
      {% endfor %}
      <hr>
    {% endfor %}
  </p>
{% endblock content %}
