{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Add Restaurant' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}

{% block css %}
  <link href="{% static 'css/google_services/geocoding.css' %}"
        rel="stylesheet">
{% endblock %}

{% block js %}
  <script src="{% static 'js/google_services/' %}{{ js_file_name }}"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_SERVICES_API_KEY }}&callback=initMap">
  </script>
{% endblock %}
