{% extends 'pages/base.html' %}
{% load i18n %}
{% load rest_framework %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% block content %}
  <p>
    {% trans 'Welcome to Fuel Dine restaurants page' %}
  {{ request.user }}
  </p>
  <p>
    <b>Name</b>: {{ restaurant.name }}<br>
    <b>Votes</b>: {{ restaurant.vote_score|default_if_none:"&nbsp;" }}<br>
    <b>Contact</b>: {{ restaurant.contact|default_if_none:"&nbsp;" }}<br>
    <b>Website</b>: {{ restaurant.website|default_if_none:"&nbsp;" }}<br>
    <b>Description</b>: {{ restaurant.description|default_if_none:"&nbsp;" }}<br>
  </p>
  <p>Write a <a href="{% url 'review-add' pk=restaurant.id  %}">new
    review</a> for this restaurant now!</p>

  <b>Reviews</b>:
  {% if not restaurant.review_set.exists %}
    <p>Oh! There are no reviews to show right now!</p>
  {% endif %}
  <p>
    {% for review in restaurant.review_set.all %}
      <div class="review">
        <b>
          {% ifequal review.user|slugify request.user|slugify %}
            * {# Special symbol if it's your own review #}
          {% endifequal %}
        </b>
        <small><b>{{ review.user }}</b> added review on {{ review.posted_at }}</small>
        <br>
        {{ review.text }}<br>
        <small><a href="{% url 'comment-add' pk=review.id %}">Comment on this
        review</a></small>
      </div>
      <div class="comments">
        {% for comment in review.comment_set.all %}
          <small><b>{{ comment.user }}</b> commented on {{ comment.posted_at }}</small><br>
          <div class="comment-text">{{ comment.text }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  <hr>
  </p>
  <style>
    .comments {
      margin-left: 40px;
    }
    .comment-text {
      margin-left: 10px;
    }
  </style>
{% endblock content %}
